.note-view-container {
    display: flex;
    flex-direction: column;
}

.note-view-container p {
margin: 0 0.5rem;
}

.note-view-top-content {
    display: flex;
    justify-content: space-between;
}

.edit-delete {
    padding: 1rem 0.5rem;
    color: rgb(66,66,66);
}